.contact {
  background-image: url(../images/Contact.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 95%;
  height: auto;
  margin-left: 30px;
  margin-bottom: 30px;
}
.contact-form-container {
  max-width: 400px;
  margin-top: 50px;
  margin-left: 800px;
  padding: 20px;
  color: #ffffff;
}

.contact-container {
  width: 80%;
  height: 480px;
  margin-top: 900px;
  margin-left: 150px;
  padding: 20px;
  margin-bottom: 20px;
}
.contact-form label {
  display: block;
  margin-bottom: 10px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 8px;
  margin-top: 3px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.contact-form button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #45a049;
}

.contact-form button:active {
  background-color: #3e8e41;
}
.call-container {
  justify-content: center;
  align-items: center;
  margin-top: -180px;
  color: #ff0000;
}
.call-container p {
  margin-top: -55px;
  margin-left: 20px;
  font-size: 15px;
  font-family: Arial, sans-serif;
  color: #ffffff;
}
.additional-contact-details ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  margin-left: 380px;
}

.additional-contact-details li {
  margin-top: -350px;
  margin-right: 40px;
  font-family: Arial, sans-serif;
  font-size: 15px;
  color: #ffffff;
}

/* Optional: Add hover effect */
.additional-contact-details li:hover {
  color: #ff0000;
  cursor: pointer;
}

.copyright {
  margin-top: 140px;
  margin-left: 40px;
  text-align: center;
  color: #ffffff;
}
h6 {
  color: #ff0000;
  font-family: Arial, sans-serif;
  font-size: 15px;
  margin-left: 3px;
  margin-top: -10px;
}
