.upcoming-events {
  position: relative;
  width: auto;
  height: 1000px;
  background-color: #ffffff;
  top: 700px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.event-card {
  position: absolute;
  top: 14%;
  right: 6%;
  justify-content: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  width: 85%;
  height: 300px;
}
