@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
nav {
  background-color: #000000;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
.logo {
  float: left;
  color: white;
  padding: 14px 40px;
  margin-left: 22px;
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
}
.search-container {
  margin-top: 13px;
}
.cart-icon {
  margin-left: 5px;
  margin-top: 15px;
}
.login-icon {
  margin-left: 15px;
}

.search-bar {
  width: 180px;
  height: 25px;
  border-radius: 5px;
  border: 1px solid #848484;
  padding-left: 10px;
  margin-right: 5px;
  margin-left: 10px;
  font-size: 13px;
  color: #a1a1a1;
  background-color: #0f0f0f;
}
.bar {
  color: white;
  font-size: 15px;
  margin-left: -10px;
}
.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.nav-links li {
  float: left;
}

.nav-links li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 22px;
  text-decoration: none;
}

.nav-links li a:hover {
  background-color: #090909de;
}

.button {
  height: 4vh;
  width: auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.box {
  width: 25px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-weight: 700;
  color: #fff;
  transition: all 0.8s;
  cursor: pointer;
  position: relative;
  background: #0f0f0f;
  overflow: hidden;
}
.box:before {
  content: "V";
  position: absolute;
  top: 0;
  background: rgb(217, 0, 255);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(100%);
  transition: transform 0.4s;
}
.box:nth-child(2)::before {
  transform: translateY(-100%);
  content: "I";
}
.box:nth-child(3)::before {
  content: "B";
}
.box:nth-child(4)::before {
  transform: translateY(-100%);
  content: "E";
}
.box:nth-child(5)::before {
  content: "S";
}
.box:nth-child(6)::before {
  transform: translateY(-100%);
  content: "H";
}
.box:nth-child(7)::before {
  content: "U";
}
.box:nth-child(8)::before {
  transform: translateY(-100%);
  content: "B";
}
.button:hover .box:before {
  transform: translateY(0);
}
