body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #fff;
  background-image: url("./photo-1443186547344-.png");
  background-size: 100% auto;
  background-position-y: 55px;
  background-repeat: no-repeat;
  color: #000000;
}

.container {
  max-width: 600px;
  margin: 100px auto;
  text-align: center;
  padding: 150px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #ffffff;
}

p {
  color: #e3e3e3;
  margin-bottom: 20px;
}

.get-started-btn {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
}

.get-started-btn:hover {
  background-color: #0056b3;
}
